<!-- wp:template-part {"slug":"header","area":"header"} /-->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"2rem","bottom":"2rem"}}},"layout":{"type":"constrained","contentSize":"860px"}} -->
<div class="wp-block-group" style="padding-top:2rem;padding-bottom:2rem"><!-- wp:post-title {"level":1} /-->
<!-- wp:group {"layout":{"type":"flex"}} -->
<div class="wp-block-group"><!-- wp:post-date /--><!-- wp:post-author-name /--></div>
<!-- /wp:group -->
<!-- wp:post-featured-image /-->
<!-- wp:post-content /-->
<!-- wp:post-comments /--></div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
